* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-data {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
nav {
  background-color: rgba(85, 133, 110, 1);
}
.navbar .contain {
  padding: 10px 0;
  width: 100% !important;
  justify-content: space-between;
}
.navbar .contain .Brand-name {
  background-color: white;
  width: 135px;
  height: 45px;
  border-radius: 16px 16px 0 0;
}
.navbar .contain .Brand-name img {
  width: 70px;
  height: 30px;
  display: flex;
  margin: 10px auto;
}
.navbar .contain ul {
  width: 50%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .contain ul li {
  list-style: none;
}
.navbar .contain ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
.navbar .contain ul li a::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 5px;
  background-color: black;
  left: 0;
  width: 0;
  bottom: 0;
}
.navbar .contain ul li a:hover {
  color: black;
}

.navbar .contain ul li a.active {
  color: #000;
  transition: all 0.5s;
}
.navbar .contain ul li a:hover::after {
  width: 100%;
  transition: all 0.5s;
}
.navbar .btn {
  background: #fff;
  width: 70px;
  height: 43px;
  border-radius: 16px;
  font-size: 24px;
  position: relative;
  padding: 0 5px 0 0;
  margin: auto 0 !important;
}
.navbar .btn a {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-left: -10px;
  margin-top: auto;
}
.navbar .btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #000;
  transform: rotate(180deg);
  margin: 14px 4px;
}

/* Header style  */
main header {
  padding-top: 100px;
  padding: 150px 0;
  border: 2px solid yellow;
}
.contain .text {
  display: inline-block;
  width: 600px;
}
.contain .text h1 {
  color: #55856e;
  font-style: italic;
  font-weight: 700;
}
.contain .text p {
  display:block;
  width: 460px;
  padding: 10px 0;
  text-align: left;
  color: linear-gradient(0deg, rgba(0, 0, 0, 0.8));
}
.contain .text span {
  font-weight: 900;
}
main header .container .contain {
  display: flex;
}
.contain .text .link {
 margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.contain .text .link a  {
 width: 180px;
 height: 50px;
}

/* service style */

.services .heading h1 {
  border: 2px solid black;
  width: 250px;
}
.services .service .row {
  display: flex;
  justify-content: space-evenly;
}
.services .service .row {
  border: 2px solid brown;
}
.services .service .row .col {
  display: flex;
  border: 2px solid red;
  border-radius: 25px 25px;
  margin-top: 30px;
}
/* .services .service .row .serv {
  border: 2px solid black;
} */
.services .service .row .serv h2 {
  border: 2px solid black;
  font-size: 20px;
  font-weight: 900;
  width: 300px;
}
.services .service .img-serv img {
  width: 150px;
  display: flex;
  margin-top: 20%;
}
