* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(254, 253, 248);
}
.flex-data {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
nav {
  background-color: rgba(85, 133, 110, 1);
}
.navbar .contain {
  padding: 10px 0;
  width: 100% !important;
  justify-content: space-between;
}
.navbar .contain .Brand-name {
  background-color: white;
  width: 135px;
  height: 45px;
  border-radius: 16px 16px 0 0;
}
.navbar .contain .Brand-name img {
  width: 70px;
  height: 30px;
  display: flex;
  margin: 10px auto;
}
.navbar .contain ul {
  width: 50%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .contain ul li {
  list-style: none;
}
.navbar .contain ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
.navbar .contain ul li a::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 5px;
  background-color: black;
  left: 0;
  width: 0;
  bottom: 0;
}
.navbar .contain ul li a:hover {
  color: black;
}

.navbar .contain ul li a.active {
  color: #000;
  transition: all 0.5s;
}
.navbar .contain ul li a:hover::after {
  width: 100%;
  transition: all 0.5s;
}
.navbar .btn {
  background: #fff;
  width: 70px;
  height: 43px;
  border-radius: 16px;
  font-size: 24px;
  position: relative;
  padding: 0 5px 0 0;
  margin: auto 0 !important;
}
.navbar .btn a {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-left: -10px;
  margin-top: auto;
}
.navbar .btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #000;
  transform: rotate(180deg);
  margin: 14px 4px;
}

/* Header style  */
main header {
  padding: 150px 0px;
}
.contain .text {
  display: inline-block;
  width: 600px;
}
.contain .text h1 {
  color: #55856e;
  font-style: italic;
  font-weight: 700;
}
.contain .text p {
  display: block;
  width: 460px;
  padding: 10px 0;
  font-size: 16px;
  text-align: left;
  color: linear-gradient(0deg, rgba(0, 0, 0, 0.8));
}
.contain .text span {
  font-weight: 900;
}
main header .container .contain {
  display: flex;
}
.contain .text .link {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.contain .text .link a {
  width: 180px;
  height: 50px;
}

/* service style */

.services .heading h1 {
  height: 80px;
  border-radius: 25px;
  width: 250px;
  box-shadow: 0px 0px 12px 2px rgba(85, 133, 110, 1) inset;
  font-weight: 700;
  color: rgba(85, 133, 110, 1);
}
.services .service .row {
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
}

.services .service .row .col {
  border-radius: 25px 30px;
  margin-top: 10px;
  height: 300px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 20px 20px 11px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 0;
}
.services .service .row .col:hover h2,
.services .service .row .col:hover p {
  color: #fff;
}

.services .service .row .col:hover {
  background-color: rgba(51, 51, 51, 0.9);
  transition: all 0.5s linear;
}
.services .service .row .serv {
  align-items: center;
  align-content: center;
  padding: 50px 0 0;
}
.services .service .row .serv .btn {
  width: 160px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.services .service .row .serv .btn p {
  font-size: 18px;
}
.services .service .row .serv h2 {
  font-size: 20px;
  font-weight: 800;
  width: 300px;
  font-style: italic;
}
.services .service .img-serv {
  display: flex;
  align-content: center;
}
.services .service .img-serv .priv {
  width: 120px;
}
.services .service .img-serv img {
  width: 150px;
  display: flex;
}

/* FAQ style */
.FAQ {
  margin: 120px 0px;
}
.FAQ .heading {
  width: 250px;
  height: 70px;
  border-radius: 25px;
  display: flex;
  margin: 0px auto;

  box-shadow: 0px 0px 12px 2px rgba(85, 133, 110, 1) inset;
  color: rgba(85, 133, 110, 1);
  text-align: center;
}
.FAQ .heading h1 {
  font-weight: 700;
}
.FAQ .content {
  margin: 50px auto;
}
.FAQ .content .ques button {
  display: flex;
  width: 850px;
  height: 100px;
  align-items: center;
  border-radius: 25px 25px;
  background: rgba(217, 217, 217, 1);
}
.FAQ .content .ques button img {
  padding: 0 20px;
}
.FAQ .content .answer {
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 25px 25px;
  width: 850px;
  height: 235px;
  margin: 30px auto;
  align-content: center;
  display: none;
}

.FAQ .content .answer .cont {
  display: flex;
}
.FAQ .content .answer .cont img {
  padding: 0 20px;
}
.FAQ .content .answer .cont p {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
}
.FAQ .content .answer h6 {
  font-size: 30px;
  display: flex;
  text-align: center;
  font-weight: 400;
}
/* Download style */

.download .contain {
  margin: 50px 0;
  background-color: rgb(113, 167, 143);
  display: flex;
  height: 550px;
}
.download .text {
  margin-top: 50px;
  margin-left: 20px;
}
.download .text h1 {
  color: #000;
}
.download .text p {
  width: 400px;
  color: #fff;
  font-size: 22px;
}
.download .link {
  display: flex;
  flex-direction: column;
}
.download .link a {
  margin: 30px auto 0;
}

.download .image {
  margin-top: 30px;
  transform: rotate(18deg);
}

/* contact style */

.contact {
  margin-top: 50px;
}
.contact .contain {
  text-align: center;
  background-color: rgba(217, 217, 217, 1);
  padding: 20px 0;
}
.contact .heading {
  width: 300px;
  height: 90px;
  border-radius: 25px;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 12px 2px rgba(85, 133, 110, 1) inset;
  color: rgba(85, 133, 110, 1);
  align-items: center;
}
.contact .heading h1 {
  font-weight: 700;
  margin: 0 auto;
}
.contact p {
  font-size: 16px;
  padding: 50px 0 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.contact .content .form {
  display: flex;
  margin: 20px auto;
  border-radius: 20px;
  width: 470px;
  height: 60px;
  background-color: rgba(248, 248, 248, 1);
}
.contact .content .form input {
  background-color: rgba(248, 248, 248, 1);
  width: 100%;
  border-radius: 20px;
}
.contact .content ::placeholder {
  font-size: 18px;
}
.contact .content .form img {
  margin: auto 0;
  padding: 0 20px;
  width: 80px;
  height: 30px;
}
.contact .content .form input {
  border: none;
}
.contact .content #submit {
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 20px;
  width: 470px;
  height: 55px;
  background-color: rgba(21, 22, 27, 1);
  position: relative;
  z-index: 999;
}

.contact .content #submit {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.contact .example a {
  margin: 15px 0;
  text-decoration: none;
  display: block;
  color: rgba(119, 119, 119, 1);
}
.contact .social {
  display: flex;
  margin: 0 auto;
  width: 270px;
  justify-content: space-around;
  padding: 0 0 10px;
}
/* footer style */

footer {
  background-color: rgba(107, 164, 138, 1);
  height: 50px;
}
footer p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
